$color-pri: #64c0e7;
$color-second: #c5970b;
$color-third: #f05123;
$color-four: #118abd;
$color-five: #f05123;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f8f8f8;
$color-text: #303030;
$color-border: rgba(0, 0, 0, 0.1);
//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 12rem;
$distance-header-mobile: 7.2rem;
$distance-header-sticky: 6rem;
$distance-header-mobile-sticky: 5.6rem;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 0.6rem;