.reason {
    overflow: hidden;
    &-side {
        &-left {
            width: calc(100% * (9 / 12));
            position: relative;
            z-index: 2;
            @include max(768px) {
                width: 100%;
                margin-bottom: 2.4rem;
            }
        }
        &-right {
            width: calc(100% * (3 / 12));
            @include max(768px) {
                width: 100%;
            }
        }
    }
    &-list {
        margin-bottom: -2.4rem;
        @include max($mobile) {
            margin: 0 -0.4rem;
            margin-bottom: -2.4rem;
        }
    }
    &-item {
        width: calc(100% / 3);
        margin-bottom: 2.4rem;
        @include max($res-mobile) {
            width: calc(100% / 2);
        }
        @include max($mobile) {
            padding: 0 0.4rem;
        }
        @include max(300px) {
            width: 100%;
        }
    }
    &-wrap {
        padding: 4rem 2.4rem;
        border-radius: 2rem;
        height: 100%;
        @include transitionRe;
        @include max($res-mobile) {
            padding: 0;
        }
        @include min($res-mobile-min) {
            &:hover {
                background-color: $color-four;
                .icon {
                    filter: brightness(0) invert(1);
                }
                .reason-name {
                    color: white;
                }
                .reason-des {
                    color: white;
                }
            }
        }
        .icon {
            width: 6rem;
            height: 6rem;
            margin-bottom: 1.6rem;
            @include max($mobile) {
                width: 4rem;
                height: 4rem;
                margin-bottom: 0;
            }
        }
    }
    &-name {
        @include fz-20;
        color: $color-four;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        @include transitionRe;
        @include max($mobile) {
            font-size: 1.4rem;
        }
    }
    &-des {
        letter-spacing: 0.07em;
        color: $color-text;
        @include transitionRe;
        @include max($mobile) {
            font-size: 1.2rem;
        }
    }
    &-image {
        margin-bottom: -2.4rem;
        &-item {
            width: 100%;
            margin-bottom: 2.4rem;
            @include max(768px) {
                width: calc(100% / 2);
            }
            &:nth-child(1) {
                .reason-image-img {
                    transform: translateX(50%);
                    @include max(1500px) {
                        transform: translateX(20%);
                    }
                    @include max(1300px) {
                        transform: translateX(0);
                    }
                }
            }
            &:nth-child(2) {
                .reason-image-img {
                    @include max(768px) {
                        transform: translateY(-60%);
                    }
                    img {
                        transform: translate(-64%, -38%);
                        width: 135%;
                        height: 135%;
                        @include max(1500px) {
                            transform: translate(-80%, -35%);
                        }
                        @include max(1200px) {
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        &-img {
            position: relative;
            padding-top: 100%;
            display: block;
            border-radius: 100rem;
            img {
                @include mid;
                width: 100%;
                height: 100%;
                @include max($mobile) {
                    width: 120% !important;
                    height: 120% !important;
                }
            }
        }
    }
}