.burger {
    cursor: pointer;
    padding-left: 8px;
    margin-left: 8px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 1px;
        top: 10px;
        bottom: 10px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    @include min($res-mobile-min) {
        display: none;
    }
}

.hamburger .line {
    width: 2.2rem;
    height: 0.2rem;
    border-radius: 4px;
    background-color: $color-pri;
    display: block;
    margin: 0.5rem 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
}

#hamburger.active .line:nth-child(1) {
    width: 1.8rem;
    margin-left: auto;
}

#hamburger.active .line:nth-child(2) {
    margin-left: auto;
}

#hamburger.active .line:nth-child(3) {
    width: 1.4rem;
    margin-left: auto;
}

// #hamburger.active .line{
//   -webkit-transform: rotate(30deg);
//   -ms-transform: rotate(30deg);
//   -o-transform: rotate(30deg);
//   transform: rotate(30deg);
// }