.page-numbers {
    @include flex;
    align-items: center;
    justify-content: center;
    &.m-top {
        margin-top: 3rem;
    }
    >li {
        &:not(:first-child) {
            margin-left: 8px;
        }
        &>.page-numbers {
            color: white;
            width: 4rem;
            height: 4rem;
            border-radius: 100rem;
            @include mid-flex;
            background-color: $color-pri;
            cursor: pointer;
            &:hover {
                background-color: $color-five;
                color: $color-second;
            }
            &.current {}
            &.dot {}
            .icon {
                font-weight: 400;
            }
        }
    }
}